<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>cw4 . Les classes JavaScript - Démo guidée</title>

        <link rel="stylesheet" href="styles/main.css" />
        <script src="scripts/main.js" defer></script>
    </head>

    <body>
        <section class="exercice">
            <div class="wrapper">
                <h1>ex1. Démo</h1>
                <p>
                    Suivez les indications pour réaliser le premier numéro seulement. Attendez avant de poursuivre, le professeur effecuera une démo sur le
                    contexte à l'avant dans quelques minutes.
                </p>

                <section class="number" id="num1">
                    <div class="number__header">
                        <h2>
                            numéro 1 -
                            <span>Révision de la structure d'une classe</span>
                        </h2>
                        <p>
                            En suivant les indications, vous serez replongé dans les concepts et la structure d'une classe JavaScript dans contexte orienté
                            objet
                        </p>
                        <h3>Instructions</h3>
                        <div class="instructions">
                            <a href="#num01-maquette" class="button--instruction">résultat final</a>
                            <a href="#num01-explication" class="button--instruction">fiche technique</a>
                        </div>
                    </div>
                    <div class="number__content">{% include "_partials/ex1/_num1.html" %}</div>
                </section>
            </div>
        </section>
        {% include "_partials/dialog/_demo.html" %}
    </body>
</html>
